@import "variable";
@import "mixin";

/*-------------------------
      arshia DARK
-------------------------*/
.arshia-dark{
    background-color: map-get($map: $bg-colors, $key: bg-dark) !important;
    color: map-get($map: $colors, $key: light);

    .color-switcher h6{
        color: map-get($map: $colors, $key: black-dark);
    }

    .header nav a,.follow-label {
        color: #fafafa !important;
    }
    .header-sticky {
        background-color: map-get($map: $bg-colors, $key: bg-dark);
    } 
    .hero-images img{
        box-shadow: $dark-box-shadow;
    }
    .hero-images .square img{
        box-shadow: none;
    }
    .hero-02 {
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    }
    .text-dark, .hero-content, .hero-social li a, .social a, .blog-single .modal-content{
        color: map-get($map: $colors, $key: light) !important;
    }
    .text-muted, .about .personal-info span, .language-skill h4 span{
        color: map-get($map: $colors, $key: secondary-light) !important;
    }
    .blog-content h5 a.text-dark{
        &:hover, &:focus{
            color: map-get($map: $colors, $key: secondary-light) !important;
        }
    }
    .hero-03 .personal-image img {
        box-shadow: 3px 3px 3px #202125, -3px -3px 3px #3e3e3e;
    }
    // .hero-01:before, .hero-05:before{
    //     background-color: transparentize($color: #000000, $amount: 0.4);
    // }
    .testimonial .owl-carousel .testimonial-image::before, .skill-box .skillbar,
    .blog-item:before,.testimonial .owl-carousel .testimonial-image, 
    .blog-single .modal-content, .portfolio-single .modal-content
    {
        background-color: map-get($map: $bg-colors, $key: bg-dark);
    }
    .box-border, .box-hover-border, .button-border, .image-border{
        @include dark-box-layout;
    }
    .box-hover-border:hover{
        box-shadow: $dark-box-shadow-inset;
    }
    .pill-button:hover, .pill-button.active{
        border:none;
        box-shadow: $dark-box-shadow-inset;
    }
    .testimonial .owl-carousel .testimonial-image::after, .skill-box .skillbar, .blog-image:after{
        box-shadow: $dark-box-shadow-inset;
    }
    .testimonial-image-border, .testimonial .owl-carousel .testimonial-image-border{
        box-shadow:  $dark-box-shadow;
    }
    .testimonial .owl-dot.active span {
        box-shadow: $second-dark-box-shadow-inset;
    }
    .blog-intro{
        box-shadow: $third-dark-box-shadow-inset;
    }
    .contact .form-item .form-group{
        background-color:  map-get($map: $bg-colors, $key: bg-dark);
        box-shadow: $dark-box-shadow-inset;
        -webkit-box-shadow: $dark-box-shadow-inset;
        -moz-box-shadow: $dark-box-shadow-inset;
        -o-box-shadow: $dark-box-shadow-inset;
        -ms-box-shadow: $dark-box-shadow-inset;
    }
    .portfolio-single .close{
        color: white;
    }
    .hero-04 .hero-item-image {
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    }
    .hero-04 .swiper-slide {
        background: #2c2d30;
    }
    .hero-04 .swiper-button-next, .hero-04 .swiper-button-prev {
        background-color: #fafafa;
    }
    .hero-04 .swiper-button-next::after, .hero-04 .swiper-button-prev::after {
        color: #1a1a1a;
    }
    .hero-05{
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    }
    .hero-05 .scroll-down span {
        border: 3px solid #fafafa;
        &:before{
            background-color: #fafafa;
        }
    }
    .blog-content h6 a:hover{
        color: map-get($map: $colors, $key: secondary-light) !important;
    }
     
} 

@media (max-width: 991px){
    // .arshia-dark header{
    //     background-color: #2c2d30;
    //   }
      .arshia-dark .navbar-toggler span{
          color: #fafafa;
      }
      
}
    